DATABASE_URL="postgresql://"

POSTGRES_PASSWORD=
POSTGRES_USER=fishing
POSTGRES_DB=fishing

MPPNET_TOKEN=
MPP_FISHING_TOKEN=

DISCORD_TOKEN=
DISCORD_FISHING_TOKEN=

CLI_FISHING_TOKEN=

TALKOMATIC_SID=
TALKOMATIC_API_KEY=
TALKOMATIC_FISHING_TOKEN=

PORT=3000
