---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        <div id="container" class="px-5 py-2 mx-auto w-[60%]">
            <h1 class="text-xl">Fishing Bot</h1>
            <br />

            <div
                id="page-content"
                class="bg-[#fea] border border-[#fea] p-[10px]"
            >
                <h2 class="border-b border-[#f84]">Discord</h2>
                <p class="text-[14pt] py-2">
                    Click <a
                        href="https://discord.gg/HN7UkGnR9h"
                        class="text-[#f46] hover:text-[#e05] hover:underline"
                        >here</a
                    > to join the Discord server!
                </p>
            </div>
        </div>
    </main>
</Layout>
